body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f0f0f0;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('../img/bg.webp');
    background-size: cover;
    background-position: center;
}

.container {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 90%;
    max-width: 400px;
    margin: 20px;
}

form {
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

select, input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
    margin-top: 5px;
}

button {
    background-color: #333;
    color: white;
    border: none;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #1C2560;
}


.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
  display: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.tottxt {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin: 20px;
    justify-content: flex-start;
    
}

.headtxt {
    color: #f0f0f0;
    font-size: 3rem;
    font-weight: 700;
    text-align: left;
}

.subtxt {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    text-align: left;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
    .container {
        width: 90%;
        max-width: 90%;
    }

    .headtxt {
        font-size: 2rem;
    }

    .subtxt {
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 480px) {
    .container {
        width: 90%;
        max-width: 90%;
    }

    .headtxt {
        font-size: 1.5rem;
    }

    .subtxt {
        font-size: 0.8rem;
    }
}
